
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');



:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding:20px 40px;
    
   --black:#252a34;
   --blue:#08d9d6;
   --white:#eaeaea;
   --title:35px;
   --text:19px;
    --red:#F7DC6F;
    --black:#252a34;
}



   



*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
   
    background: #f2f2f2;
}



/* menu */





.container-fluid{margin-right: 20px;}

.ontainer-fluid ul li{list-style: none;}





.container-fluid  li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
}
.container-fluid li a.active{
    background: var(--red);
    color:#fff;
}
.container-fluid li a:hover{
    background: var(--red);
    color:#fff;
}


/* aqui acaba el menu */







/** IMG Header **/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../IMG/imagen4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color:#fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 500px;
    height: 3px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-header .welcome p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background: var(--red);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background:var(--blue);
}



/*.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
*/





.skew-abajo{
    z-index: 10;
    position: absolute;
	bottom: -73px;
	left: 0px;
	border-width: 0 0 20vh 120vw;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}










@media only screen and (max-width:773px ){
    .img-header .welcome h1{font-size: 40px;}
    .img-header .welcome > button{width: 130px; font-size: 20px;}
}
@media only screen and (max-width:590px){
    .img-header .welcome h1{font-size: 30px;}
    .img-header .welcome hr{width: 100px;}
    .img-header .welcome p{font-size: 17px;}
    .img-header .welcome > button{width: 100px; font-size: 17px;}
}





/* acerca de nosotros */

.contenedor-servicio2{
    display: flex;
    justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     
     
}

.contenedor-servicio-img2{
   
    width: 40%;
    height: 330px;
    padding: 10px;
    
    position: relative;
    
    margin-bottom: 75px;
    margin-top: 75px;


    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}



.checklist-servicio{
    
    width: 40%;
    height: 300px;
     padding: 10px;
     
     position: relative;
     
     margin-bottom: 75px;
     margin-top: 80px;
 
    
 }

 .contenedor2 h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
 }

 .contenedor-servicio2 p{
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin:10px 0px;
 }


 /* galleria */

 .acerca-de .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.acerca-de .info-container .about-gallery img{
  /*  width: calc(33.333% - 10px); */
    width: 30%;
    height: 300px;
    margin: 10px 10px;
   
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;




    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;


}
.acerca-de .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.acerca-de .info-container .about-more button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.acerca-de .info-container .about-more button:hover{background: var(--blue);}

@media only screen and (max-width:773px){
    .acerca-de .info-container .about-gallery{flex-direction: column;}
    .acerca-de .info-container .about-gallery img{width: 100%;}
}
@media only screen and (max-width:590px){
    .acerca-de .info-container h1{font-size: 30px;}
    .acerca-de .info-container p{font-size: 15px;}
}



/* los desarolladores */

.cards {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    position: relative;
    
    margin: 20px 0;
    width: 30%;
    align-items: center;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
}

.cards img {
    position: relative;
    align-items: center;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}


.contenedor h2{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;

}



.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}


.miembros{
  background-image: url(../IMG/header.jpg);  

   /* background-image: var(--background), url(../IMG/imagen6.jpg); */
    position: relative;


margin-top: 200px;
    width: 100%;
  
   
   
    background-attachment: fixed;
    background-position: center;
    background-size: cover;


   


}








/* .skew-abajo1{
 
   
	bottom: 0;
	left: 0;
	border-width: 0 0 30vh 100vw;
    height: 400px;
	border-style: solid;
	border-color: transparent transparent #fff transparent;
}   */





/** Testimonios **/
.testimonios{
    width: 100%;
    margin-top: 120px;
}
.testimonios .testimonios-title{
    width: 50%;
    margin:auto;
    text-align: center;
}
.testimonios .testimonios-title h2{
    font-size: 50px;
    font-weight: normal;
    color: var(--black);
    margin-bottom: 10px;
}
.testimonios .testimonios-title hr{
    width: 60%;
    height: 2px;
    margin:auto;
    background: var(--black);
}
.testimonios .box-testimonio{
    width: 90%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonios .box-testimonio .card-testimonio{
    width: 45%;
    margin: 20px;
}
.testimonios .box-testimonio .card-testimonio .card-img{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.testimonios .box-testimonio .card-testimonio .card-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text{
    border: 2px solid var(--red);
    padding:20px;
    border-radius: 20px;
    transition: 0.1s;
    cursor: pointer;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text h4{
    font-size: 30px;
    font-weight: 400;
    color: var(--red);
    text-align: center;
    margin-bottom: 10px;
    transition: 0.1s;
}
.testimonios .box-testimonio .card-testimonio .testimonio-text p{
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: var(--black);
}
.testimonios .box-testimonio .card-testimonio .testimonio-text:hover{
    border: 2px solid var(--blue);
}
.testimonios .box-testimonio .card-testimonio .testimonio-text:hover h4{
    color: var(--blue);
}

@media only screen and (max-width:890px){
    .testimonios .box-testimonio .card-testimonio .card-img img{width: 200px; height: 200px;}
    .testimonios .box-testimonio .card-testimonio{width: 100%;}
    .testimonios .box-testimonio .card-testimonio .testimonio-text h4{font-size: 25px;}
    .testimonios .box-testimonio .card-testimonio .testimonio-text p{font-size: 17px; line-height: 35px;}
}


































/* navegacion en ele footer */

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;


}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--footer{
    padding: 10px;

}

/* empezamos a trabajar con el contenido principal */


/* footer */






@media screen and (max-width:900px){
    .contenido-slider > img{
        width: 250px;
    }

    .contenido-slider > div{
        width: 40%;
    }

    .contenido-slider h2{
        font-size: 23px;
    }
}


@media screen and (max-width:600px){
    .contenido-slider{
       flex-direction: column-reverse;
    }

    .contenido-slider > div{
        width: 80%;
    }

}